pandas
argon2-cffi
argon2-cffi-bindings
asttokens
async-generator==1.10
attrs
backcall 
backports.functools-lru-cache 
beautifulsoup4 
bleach
brotlipy 
certifi==2021.10.8
cffi 
charset-normalizer
colorama==0.4.4
configparser==5.2.0
crayons==0.4.0
cryptography 
debugpy 
decorator 
defusedxml
entrypoints 
executing 
flit_core 
h11 
html5lib 
idna 
importlib-metadata 
importlib-resources 
ipykernel 
ipython 
ipython-genutils==0.2.0
ipywidgets 
jedi 
Jinja2 
joblib 
jsonschema 
jupyter-client 
jupyter-core 
jupyterlab-pygments 
jupyterlab-widgets 
MarkupSafe 
matplotlib-inline 
mistune 
nbclient 
nbconvert 
nbformat 
nest-asyncio 
notebook 
numpy 
outcome 
packaging 
pandas==1.4.1
pandocfilters 
parso 
pexpect 
pickleshare 
prometheus-client 
prompt-toolkit 
ptyprocess 
pure-eval 
pycparser 
Pygments 
pyOpenSSL 
pyparsing 
pyrsistent 
PySocks 
python-dateutil 
pytz 
pyzmq 
requests 
selenium 
Send2Trash 
six 
sniffio 
sortedcontainers 
soupsieve 
stack-data 
terminado 
testpath 
tornado 
traitlets 
trio 
trio-websocket 
urllib3 
wcwidth 
webdriver-manager==3.5.3
webencodings==0.5.1
widgetsnbextension 
wsproto 
zipp 
